html { height: 100% }
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #eee;
    font-family: 'Titillium Web', "Palatino Linotype", 'sans-serif';
    position: relative;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}


#message-box {
    display: none;
    position: absolute;
    top: 0;
    left: 10%;
    height: 80%;
    width: 80%;
    margin: auto auto;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 10px;
    z-index: 100;
}

#map-canvas {
    height: 100%;
    z-index: 1;
}

#info-panel {
    position:absolute;
    width: 100%;
    z-index: 5;
    bottom: 0;
    background-color: rgba(0,0,0, 0.8);
}


#go-button {
    color: #fff;
    background-color: green;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 1.75em;
}

#info-result {
    padding: 10px 0;
    border-top: 1px solid #fff;
    text-align: center;
    color: #eee;
}

#button-panel {
    width: 100%;
    height: 48px;
    display: table;
}

#button-panel a {
    display: table-cell;
    height: 100%;
    vertical-align: text-bottom;
    line-height: 48px;
    width: 25%;
}

.search-option {
    color: #aaa;
    font-weight: 600;
    text-align: center;
    font-size: 1.333em;
    text-shadow: 1px -1px #000;
    background-color: rgba(91,91,91, 0.5);

}

.search-option.selected {
    color: #fff;
    background-color: transparent;
}