<!DOCTYPE html>
<html ng-app="OuApp">
<head>
    <title>¿Ou? | Where are you?</title>

    <meta charset="UTF-8">
    <!-- webapp ios Stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
    <meta name="apple-mobile-web-app-title" content="Ou? | Where r u?">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!-- Caching -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <!-- iOS icons -->
    <link rel="apple-touch-startup-image" href="/img/ou-start.jpg" />
    <link rel="apple-touch-icon" href="/img/ou-icon@2x.png" />

    <link rel="stylesheet" type="text/css" href="/css/reset.mobile.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,600' rel='stylesheet' type='text/css' />


    <!-- Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1KY0AYxsv3GjDFZRrfTQA3MpFAr4zZtU&sensor=true&libraries=places"></script>

    <!-- Maps Code -->
    <script type="text/javascript" src="/js/components/lodash/dist/lodash.underscore.min.js"></script>
    <script type="text/javascript" src="/js/components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/libs/zepto.min.js"></script>
    <script type="text/javascript" src="/js/libs/touch.js"></script>

    <!-- App Code -->
    <script type="text/javascript" src="/js/app.js"></script>
    <!--script type="text/javascript" src="/js/tempSetup.js"></script>
    <script type="text/javascript" src="/js/maps.js"></script -->


</head>
<body>
    <div id="map-canvas" ng-controller="MapController"></div>
    <div id="message-box">
        {{message}}
        <img src="/img/ajax-loader.gif" />
    </div>
    <div id="info-panel" ng-controller="LocaleController">
        <div id="info-result">{{localeText}}</div>
        <div id="button-panel" ng-controller="OptionsController">
            <a id="go-button" ng-click="getLocation()" href="#"><i class="fa fa-map-marker"></i></a>
            <a ng-repeat="opt in options" class="search-option" ng-click="setSelected($index)" ng-class="opt.selectionClass" href='#'>
              {{opt.name}}
            </a>
        </div>
    </div>

</body>
</html>
